body {
  padding: 20px;
  background-color: #1E90FF;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: black;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

.style {
    font-size: 10pt;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid silver;
    width: 90%;
    margin: 10px auto;
    box-shadow: 10px 10px 5px #808080;
}

.style td, th {
    padding: 5px;
}

.style tr:nth-child(even) {
    background: #E0E0E0;
}

.style tr:nth-child(odd) {
    background: silver;
}

.style tr:hover {
    background: #808080;
}

.style th{
  background: silver;
}

.points {
  font-size: 10pt;
  font-family: Arial;
  border-collapse: collapse;
  border: 1px solid silver;
  width: 20%;
  margin: 20px auto;
  background-color: #90a4db;
  box-shadow: 10px 10px 5px #808080;
}

.text {
  font-size: 10pt;
  font-family: Arial;
}

.h1 {
  font-size: 14pt;
  font-family: Arial;
}
