.style {
    font-size: 10pt;
    font-family: Arial;
    border-collapse: collapse;
    border: 1px solid silver;
    width: 90%;
    margin: 0px auto;

}

.style td, th {
    padding: 5px;
}

.style tr:nth-child(even) {
    background: #E0E0E0;
}

.style tr:nth-child(odd) {
    background: silver;
}

.style tr:hover {
    background: #808080;
}

.style th{
  background: silver;
}

.text {
  font-size: 10pt;
  font-family: Arial;
}

.h1 {
  font-size: 14pt;
  font-family: Arial;
}
